* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.error {
    color: red;
}

h1 {
    color: #0D0D0D;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background: #04B6EE;
    color: white;
    align-self: center;
}

button:hover {
    color: #04B6EE;
    border: 2px solid #04B6EE;
    background: white;
    cursor: pointer;
}

input {
    border: none;
    border-radius: 15px;
    background: #F0F0F0;
    height: 30px;
    outline-color: #04B6EE;
    padding-left: 15px;
}

input:focus {
    background: #E8F0FE;
}